<tbody id="device-list">
{{#each devices}}
    <tr>
        <td>{{Id}}</td>
        <td>{{Device.Name}}</td>
        <td>{{Device.Mac}}</td>
        <td>{{Device.Port}}</td>
        <td>
            <div align="right">
                <button
                    class="action-btn"
                    style="margin-right: 5px;"
                    hx-put="/wol/wake-up/{{Id}}"
                    hx-swap="none"
                    hx-on::after-request="toast('WOL отправлен');"
                >WAKE-UP</button>
                <div class="dropdown">
                    <button class="dropdown-menu-btn" onclick="toggleMenu(this)">⋮</button>
                    <div class="dropdown-content">
                        <button onclick="alert('Редактировать {{Device}}')">Редактировать</button>
                        <button onclick="alert('Удалить')">Удалить</button>
                    </div>
                </div>
            </div>
        </td>
    </tr>
{{/each}}
</tbody>