<tbody id="device-list">
{{#each devices}}
    <tr>
        <td>{{Id}}</td>
        <td>{{Device.Name}}</td>
        <td>{{Device.Mac}}</td>
        <td>{{Device.Port}}</td>
        <td>
            <div align="right">
                <button
                    class="action-btn"
                    style="margin-right: 5px;"
                    hx-put="/wol/wake-up/{{Id}}"
                    hx-swap="none"
                    hx-on::after-request="toast('WOL отправлен');"
                >WAKE-UP</button>
                <div class="dropdown">
                    <button class="dropdown-menu-btn" onclick="toggleMenu(this)">⋮</button>
                    <div class="dropdown-content">
                        <button onclick="openFillModel('edit-device-modal', {
                                id: '{{Id}}',
                                name: '{{Device.Name}}',
                                mac: '{{Device.Mac}}',
                                port: '{{Device.Port}}'
                            })"
                        >Редактировать</button>
                        <button
                            hx-delete="/manage/remove/{{Id}}"
                            hx-target="#device-list"
                            hx-swap="outerHTML"
                        >Удалить</button>
                    </div>
                </div>
            </div>
        </td>
    </tr>
{{/each}}
</tbody>